body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-image: url(img/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  margin: 0px;
  padding: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 12px;
  margin: 15px;
  width: 250px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  outline: none;
  transition: 0.3s;
}

input::placeholder {
  color: #e0e0e0;
}

input:focus {
  background: rgba(255, 255, 255, 0.3);
  border-color: #fff;
}

button {
  padding: 12px 20px;
  cursor: pointer;
  background: #4038e3;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: #1912f0;
  transform: scale(1.05);
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 15px;
  color: white;
  font-size: 14px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}
